@media (min-width: 768px)
{
    #filters
    {
        display: block;
    }
}

.btn-filter {
    color: #fff;
    background-color: #1c688e;
    border-color: #1c688e;
    box-shadow: 0 0 0 0.25rem rgb(28 104 142 / 55%);
  }
  