.filterbyrating-container {
  padding-bottom: 1.5rem;
}

.rating-header {
  display: flex;
  justify-content: space-between;
}

.rating-header-reset {
  color: #1C688E;
}

alg-rating {
  cursor: pointer;
}
